html,body {
    height: 100%;
    margin:0;
    padding:0;
}
#canvas{
    height:100%;
    width:100%;
    position: fixed;
    z-index: -2;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.container-box{
    position:relative;
    width:80%;
    height:100%;
    left:10%;
    color:greenyellow;
    z-index: 999;
}
